@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", "system-ui", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --color-primary-600: #ea580c; /* 橙色 600 */
  --color-primary-500: #f97316; /* 橙色 500 */
  --color-primary-50: #fff4ed;
}

@layer base {
  body {
    @apply bg-[#fdfdfd] text-slate-900 antialiased;
  }
}

@layer components {
  .btn-primary {
    @apply bg-orange-600 hover:bg-orange-700 text-white font-medium px-6 py-2.5 rounded-full transition-all shadow-sm hover:shadow-orange-200 active:scale-95;
  }
}